aiohttp==3.7.4.post0
asgiref==3.3.4       
async-timeout==3.0.1 
attrs==20.3.0        
autobahn==21.3.1     
Automat==20.2.0      
autopep8==1.5.7      
beautifulsoup4==4.9.3
certifi==2020.12.5   
cffi==1.14.5
channels==3.0.3      
chardet==4.0.0       
click==7.1.2
constantly==15.1.0   
covid==2.4.1
cryptography==3.4.7
daphne==3.0.2
discord.py==1.7.1
Django==3.2.2
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
multidict==5.1.0
nasapy==0.2.7
newsapi==0.1.1
newsapi-python==0.2.6
numpy==1.20.2
pandas==1.2.4
prompt-toolkit==3.0.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.1
PyNaCl==1.4.0
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-dotenv==0.17.1
python-newsapi==1.0.2
pyttsx3==2.90
pytz==2021.1
requests==2.25.1
rfc3986==1.4.0
service-identity==18.1.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
tekore==3.7.1
toml==0.10.2
Twisted==21.2.0
txaio==21.2.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
wit==6.0.0
yarl==1.6.3
zope.interface==5.4.0