<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap" rel="stylesheet">
    <title>leads</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav">
                <a href="/home" class="logo">HappyXelf</a>
                <ul class="nav-list">
                    <li>
                        <a href="/home" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/needs" class="nav-link">Needs</a>
                    </li>
                    <li>
                        <a href="/leads" class="nav-link">Leads</a>
                    </li>
                    <li>
                        <a href="/bots" class="nav-link">Bot</a>
                    </li>
                    <li>
                        <a href="/stats" class="nav-link">Stats</a>
                    </li>
                </ul>
                <a href="/aboutus" id="nav-cta">About us</a>
            </nav>
        </div>
    </header>
    <div class="hero">
        <div class="Welcome">
            Leads
        </div>
    </div>
    <div class="body_"> 
        <div id="title">
            <h1>Here we will have some description of the site</h1>
            <p>this site is gonna be awesome</p>   
        </div>
        <div id="gridBox">
            <div class="gridItem">
                <div class="name">
                    Ashish Singh
                </div>
                <div class="need">
                    Oxygen
                </div>
                <div class="phone">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" id="phoneLogo" fill="white" class="telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                          </svg>
                    </div>
                    <div class="phnnumber">
                        9320459871
                    </div>  
                </div>
                <div class="description">
                    desription?
                </div>
                <div class="pno">
                    <div class="pnono">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-up-fill uvote" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                          </svg>
                          <p style="text-align: center;" >13</p>
                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-down-fill dvote" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg> -->
                    </div>
                </div>
                <div >
                    <a class="report" href="#">Report</a>
                </div>
    
            </div>
            

            <div class="gridItem">
                <div class="name">
                    Ashish Singh
                </div>
                <div class="need">
                    Oxygen
                </div>
                <div class="phone">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" id="phoneLogo" fill="white" class="telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                          </svg>
                    </div>
                    <div class="phnnumber">
                        9320459871
                    </div>  
                </div>
                <div class="description">
                    desription?
                </div>
                <div class="pno">
                    <div class="pnono">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-up-fill uvote" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                          </svg>
                          <p style="text-align: center;" >13</p>
                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-caret-down-fill dvote" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg> -->
                    </div>
                </div>
                <div >
                    <a class="report" href="#">Report</a>
                </div>
    
            </div>
        </div>
        
    </div>
    
    <div class="footer" >
        <div id="footerflex">
            <div id="aboutsite">
                <span class="footerTitle"><br> About</span>
                <p id="siteinfo">This website is Made to help People with there needs in Covid Situation</p>
            </div>
    
            <div id="quicklinks">
                <span class="footerTitle"><br> Quicklinks</span>
                
                    <br><br><div ><a class="footerLink" href="/needs">Needs</a></div><br>
                    <div ><a class="footerLink" href="/leads">Leads</a></div><br>
                    <div ><a class="footerLink" href="/bots">Bot</a></div><br>
                    <div ><a class="footerLink" href="/stats">Stats</a></div><br>
            </div>
    
            <div id="reference">
                <span class="footerTitle"><br> Reference</span>
                <br><br><div ><a class="footerLink" href="https://www.mohfw.gov.in/" target="_blank">MoHFW</a></div><br>
                    <div ><a class="footerLink" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">WHO</a></div><br>
                    <div ><a class="footerLink" href="https://www.icmr.gov.in/" target="_blank">ICMR</a></div><br>
                    <div ><a class="footerLink" href="https://www.cdc.gov/" target="_blank">CDC</a></div><br>

            </div>
        </div>
        <br><br><br><br>
        <div id="contactus">
            <div id="culogo">
                <div>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#f1f1f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3 mr-3"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a>
                </div>

                <div>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#f1f1f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3 mr-3"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></a>
                </div>

                <div>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#f1f1f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-3 mr-3"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a>
                </div>

                <div>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                      </svg></a>
                </div>

            </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-caret-up-fill" id="scrollToTopBtn" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
        </div>
    </div>
    <script src="/static/JS/scripts.js"></script>
</body>
</html>